<%- include('partials/header') %>
<div class="homePage">
    <div class="container">
        <i class="fas fa-clipboard-list"></i>
        <h1>Login logs</h1>
        <p>Check who has checked the logs</p>
        <hr>
        <a href="/register" class="btn light" role="button">Register</a>
        <a href="/login" class="btn dark" role="button">login</a>
    </div>
</div>
<script src="js/test.js"></script>
<%- include('partials/footer') %>